<html>

<head>
    <title>test</title>
    <link rel="stylesheet" href="css/style.css">
</head>


<body>
    <div class="footer">
        <a href="">Contact</a>
        <a href="https://www.facebook.com/">Facebook</a>
        <a href="https://www.instagram.com/">Instagram</a>
    </div>

</body>

</html>