<html>

<head>
    <title>test</title>
    <link rel="stylesheet" href="css/style.css">
</head>

</html>

<body>

    <form id="form1">

        <h1 class="tittle">{{tittle}}</h1>

        <div class="controls">
            <input type="text" id="address">
            <button>Check for Weather</button>
        </div>
    </form>
    <div class="container">
        <p id="desc">{{desc}}</p>
    </div>
    <div class="container">
        <p id="location"></p>
    </div>
    <div class="container">
        <p id="forecast"></p>
    </div>
    <div class="container">
        <p id="latitude"></p>
    </div>
    <div class="container">
        <p id="longtitude"></p>
    </div>
    <div class="container">
        <p id="error"></p>
    </div>

    <script src="js/script.js"></script>



</body>